<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post list</title>
</head>

<body>
<style>
	a {
		text-decoration: none;
	} 
	a: hover {
		font-size: 25px;
	}
</style>
<!--	{{ items }} -->
	<div style="margin-left: 45%">
		<p style="font-size: 30px;">My blog</p>
	</div>

	<div style="margin-left: 50px; margin-top: 30px; margin-bottom: 40px;">
		<a style="font-size: 15px; color: black; border: 1px solid; border-radius: 20px; padding: 5px;" href="{% url 'post_new' %}">Create new post</a>
	</div>
	

	{% for post in items %}
	<div style="margin: 20px; display: inline-block;"> 
		<div style="border: 1px;">
			<div>
				<a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a>
			</div>
			<!-- <div>{{ post.text }}</div> -->
			<div>{{ post.publish_date }}</div>
		</div>
	</div>
	{% endfor %}

</body>
</html>